<div class="page-title">
    <h1>{{ pageTitle }}</h1>
  </div>
 
  <p-messages></p-messages>

  <div class="button-container">
    <button style="border-radius: 10px; margin-bottom: 15px; margin-left: 10px" pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="adicionarProduto()"></button>
  </div>
  
  <div class="card">
    <p-table #dt2 [value]="produtos" [sortField]="'idProduto'" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }"
      [rows]="5" [paginator]="true" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input type="text" pInputText (input)="onSearch($event)" placeholder="Search" />
          </span>
        </div>
      </ng-template>
  
      <ng-template pTemplate="header">
        <tr>
          <th>ID Produto</th>
          <th>Produto</th>
          <th></th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="idProduto"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="nomeProduto"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-produto>
        <tr>
          <td>{{ produto.idProduto }}</td>
          <td>{{ produto.descricao }}</td>
          <td>
            <button style="background-color: blue;" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="editeProduto(produto)"></button>
            <button style="background-color: red;" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteProduto(produto.idProduto)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
 
  