
  
  <div id="reportContainer" class="dds__d-none" style="height:804px; overflow-y:hidden">
    <iframe id="reportFrame" onload="powerBiLoaded()" frameborder="0" seamless="seamless" class="viewer pbi-frame" style=" width: 100%; height: 840px;" src="https://app.powerbi.com/view?r=eyJrIjoiYmUxMTNkYTUtZTM4Yi00MjU4LThiNDktY2FkMGVlMDdlMWJlIiwidCI6IjRmMTY2NjVmLWFlMTktNDQyMi05ZTk5LTY5NmQ3YjcxZjY1MCJ9">
    </iframe>
  </div>
  
<!-- 
  <div class="embed-responsive-container">
    <iframe title="GPP" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiYmUxMTNkYTUtZTM4Yi00MjU4LThiNDktY2FkMGVlMDdlMWJlIiwidCI6IjRmMTY2NjVmLWFlMTktNDQyMi05ZTk5LTY5NmQ3YjcxZjY1MCJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div> -->